#container {
  margin: 20px;
}

#container::before,
#container::after {
  color: #f00;
  font-size: 20px;
  /* Inline by default – do not use 'display: block' */
}

#container::before {
  content: "Before Element ";
}

#container::after {
  content: " After Element";
}
